<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/header.ejs'); %>
    <main>
    <div class="contenedor-formu">
        <form class="formu" action="/products" method="POST">

            <h1>Formulario Creacion de Productos</h1>
            <!-- <h2 class ="product-title">=</h2> -->

            <p>
                Nombre del producto: <input type="text" name="nombre" placeholder="Ej: Samsung Galaxy">
            </p>

            <p>
                Descripcion: 
                <textarea class="description" name="descripcion" rows="4" cols="20"></textarea>
            </p>
            <p>
                Color: 
                <label>
                  <input type="checkbox" name="colores" value="1">Lila
                </label>
                <label>
                  <input type="checkbox" name="colores" value="2">Dorado
                </label>
                <label>
                  <input type="checkbox" name="colores" value="3">Verde
                </label>
            </p>
            <p>
                Disponibilidad: 
                <select name="disponibilidad">
                    <option value="0" selected>Elegi</option>
                    <option value="1">en stock</option>
                    <option value="2">sin stock</option>
              </select>
            </p>
            <p>
                Precio: 
                <input type="number" name="precio" placeholder="Ej: 5678" step="any">
            </p>
            <p>
                Categoria: 
                <select name="categoria">
                    <option value="0" disabled selected>Elegi</option>
                    <% allCategorys.forEach(category => { %>
                        <option value="<%= category.id %>"><%= category.name %></option>
                    <% }) %>
                </select>
            </p>
            <p>
              UbicacionesDisponibles: 
              <select name="ubicacionesDisponible">
                    <option value="0" disabled selected>Elegi</option>
                    <% allLocations.forEach(locations => { %>
                        <option value="<%= locations.id %>"><%= locations.location %></option>
                    <% }) %>
              </select>
            </p>

            <br>
            <button type="submit">Guardar producto</button>
            <br>
        </form>

          
        </div>

        </form>

      </main>
      <%- include('./partials/footer.ejs'); %>
</body>
</html>
