<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>
<body class="body-edicion">
    <% if (logged==undefined) { %>
        <%- include('./partials/header.ejs'); %>
    <% } else{%>
    <%- include('./partials/headerUsuario.ejs'); %>
    <% } %>
    <main>
    <div class="contenedor-formu">
        <form class="formu" action="/products" method="POST">

            <h1>Formulario Creacion de Productos</h1>
            <!-- <h2 class ="product-title">=</h2> -->

            <p>
                Nombre del producto:
                <% if (locals.old && old.nombre) { %>
                    <input type="text" name="nombre" value = "<%= old.nombre %>">
                <% } else { %>
                    <input type="text" name="nombre" placeholder="Ej: Samsung Galaxy">
                <% } %>
                <% if (locals.errors && errors.nombre) { %>
                    <p class="mensaje-error">
                        <%= errors.nombre.msg %>
                    </p>
                    <% } %>

            </p>

            <p>
                Descripcion: 
                <textarea class="description" name="descripcion" rows="4" cols="20"></textarea>
            </p>
            <p>
                Color: 
                <label>
                  <input type="checkbox" name="colores" value="1">Lila
                </label>
                <label>
                  <input type="checkbox" name="colores" value="2">Dorado
                </label>
                <label>
                  <input type="checkbox" name="colores" value="3">Verde
                </label>
                <% if (locals.errors && errors.colores) { %>
                    <p class="mensaje-error">
                        <%= errors.colores.msg %>
                    </p>
                    <% } %>
            </p>
            <p>
                Disponibilidad: 
                <select name="disponibilidad">
                    <option value="0" disabled selected>Elegi</option>
                    <option value="1">en stock</option>
                    <option value="2">sin stock</option>
              </select>
              <% if (locals.errors && errors.disponibilidad) { %>
                <p class="mensaje-error">
                    <%= errors.disponibilidad.msg %>
                </p>
                <% } %>
            </p>
            <p>
                Precio: 
                <% if (locals.old && old.precio) { %>
                    <input type="number" name="precio" value="<%= old.precio %>" step="any">
                <% } else { %>
                    <input type="number" name="precio" placeholder="Ej: 5678" step="any">
                <% } %>
                <% if (locals.errors && errors.precio) { %>
                    <p class="mensaje-error">
                        <%= errors.precio.msg %>
                    </p>
                    <% } %>
            </p>
            <p>
                Categoria: 
                <select name="categoria">
                    <% if (locals.old && old.categoria) { %>
                        <% allCategorys.forEach(category => { %>
                            <% if (category.id == old.categoria) { %>
                                <option value="<%= category.id %>" selected>
                                  <%= category.name %>
                                </option>
                                <% } else { %>
                                  <option value="<%= category.id %>">
                                    <%= category.name %>
                                  </option>
                                  <% } %>
                        <% }) %>
                    <% } else { %>
                        <option value="0" disabled selected>Elegi</option>
                        <% allCategorys.forEach(category => { %>
                            <option value="<%= category.id %>"><%= category.name %></option>
                        <% }) %>
                        <% } %>
                </select>
                <% if (locals.errors && errors.categoria) { %>
                    <p class="mensaje-error">
                        <%= errors.categoria.msg %>
                    </p>
                    <% } %>
            </p>
            <p>
              UbicacionesDisponibles: 
              <select name="ubicacionesDisponible">
                <% if (locals.old && old.ubicacionesDisponible) { %>
                    <% allLocations.forEach(locations => { %>
                        <% if (locations.id == old.ubicacionesDisponible) { %>
                            <option value="<%= locations.id %>" selected>
                              <%= locations.location %>
                            </option>
                            <% } else { %>
                              <option value="<%= locations.id %>">
                                <%= locations.location %>
                              </option>
                              <% } %>
                    <% }) %>
                <% } else { %>
                    <option value="0" disabled selected>Elegi</option>
                    <% allLocations.forEach(locations => { %>
                        <option value="<%= locations.id %>"><%= locations.location %></option>
                    <% }) %>
                <% } %>
              </select>
              <% if (locals.errors && errors.ubicacionesDisponible) { %>
                <p class="mensaje-error">
                    <%= errors.ubicacionesDisponible.msg %>
                </p>
                <% } %>
            </p>

            <br>
            <button type="submit">Guardar producto</button>
            <br>
        </form>

          
        </div>

        </form>

      </main>
      <%- include('./partials/footer.ejs'); %>
</body>
</html>
