<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>
<body>
    <%- include('./partials/header.ejs'); %>
    <main>
    <div class="contenedor-formu">
        <form class="formu" action="/products/<%=product.id%>/edit?_method=PUT" method="POST">

            <h1>Estas editando:</h1>
            <h2 class ="product-title"><%= product.nombre %></h2>

            <p>
                Nombre del producto: <input type="text" name="nombre" value="<%= product.nombre %>">
            </p>

            <p>
                Descripcion: 
                <textarea class="description" name="descripcion" rows="4" cols="20"></textarea>
            </p>
            <p>
                Color: 
                <select name="colores">
                    <option value="0">...</option>
                    <option value="Lila">Lila</option>
                    <option value="Dorado">Dorado</option>
                    <option value="Verde">Verde</option>
                </select>
            </p>
            <p>
                Disponibilidad: 
                <select name="disponibilidad">
                    <% if (product.disponibilidad == "en stock") { %>
                        <option value="en stock" selected>en stock</option>
                        <option value="sin stock">sin stock</option>
                    <% } else { %>
                      <option value="en stock">en stock</option>
                      <option value="sin stock" selected>sin stock</option>
                    <% } %>
              </select>
            </p>
            <p>
                Precio: 
                <input type="number" name="precio" value="<%= product.precio %>" step="any">
            </p>
            <p>
                Categoria: 
                <select name="categoria">
                    <% if (product.categoria == "Celulares") { %>
                        <option value="Celulares" selected>Celulares</option>
                        <option value="Televisores">Televisores</option>
                    <% } else { %>
                      <option value="Celulares">Celulares</option>
                      <option value="Televisores" selected>Televisores</option>
                    <% } %>
                </select>
            </p>
            <p>
              UbicacionesDisponibles: 
              <select name="ubicacionesDisponible">
                  <% if (product.ubicacionesDisponible == "todo el pais") { %>
                      <option value="todo el pais" selected>Todo el pais</option>
                      <option value="Buenos Aires">Buenos Aires</option>
                      <option value="Entre Rios">Entre Rios</option>
                  <% } else { %>
                    <option value="todo el pais">Todo el pais</option>
                    <option value="Buenos Aires" selected>Buenos Aires</option>
                    <option value="Entre Rios">Entre Rios</option>
                  <% } %>
              </select>
            </p>

            <br>
            <button type="submit">Guardar producto</button>
            <br>
        </form>

          
        </div>

        </form>

      </main>
      <%- include('./partials/footer.ejs'); %>
</body>
</html>
