<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs'); %>

    <body class="body-busqueda">
        <% if (logged==undefined) { %>
            <%- include('./partials/header.ejs'); %>
        <% } else{%>
        <%- include('./partials/headerUsuario.ejs'); %>
        <% } %>
        <main>
            <div class="contenedor-resultados-busqueda">
                <% if (productos.length > 0) { %>
                    <%- include('./partials/card.ejs'); %>
                <% } else if(request != undefined){ %>
                    <div class="div-busqueda-fallida">
                        <h1 class="mensaje-busqueda-fallida">No se encontraron resultados para " <%= request %> "</h1>
                    </div>
                <% } else { %>  
                    <div class="div-busqueda-fallida">
                        <h1 class="mensaje-busqueda-fallida"> " Introduce tu busqueda en la barra de navegacion "</h1>
                    </div>
                <% }  %>     
            </div>
        </main>
<%- include('./partials/footer.ejs'); %>