<!DOCTYPE html>
<html lang="en">
    <%- include('./partials/head.ejs'); %>
<body class="body-listado">
    <% if (logged==undefined) { %>
        <%- include('./partials/header.ejs'); %>
    <% } else{%>
    <%- include('./partials/headerUsuario.ejs'); %>
    <% } %>
<main >
    <% if (locals.productosCelulares) { %>
    <div class="div-listado">
        <h1 class="encabezado-listado">Celulares</h1>
            <div class="tipo-de-producto-listado">
                <% productosCelulares.forEach(producto => { %>
                    <div class="contenedor-imagen">
                        <div class="imagen-producto-contenedor">
                            <img src="<%= producto.image %> " alt="Imagen Producto" class="imagen-destacada">
                        </div>
                        <div class="descripcion-destacado">
                            <h3><%= producto.name %> </h3>
                            <p>$<%= producto.price %> </p>
                            <a href="/detalle/<%= producto.id %> "><button class="boton" type="submit">Conoce más</button></a>
                        </div>
                    </div>
                <%  }); %> 
            </div>
        <% } %>
    </div>
    <% if (locals.productosTelevisores) { %>
        <div class="div-listado">
            <h1 class="encabezado-listado">Televisores</h1>
            <div class="tipo-de-producto-listado">
                <% productosTelevisores.forEach(producto => { %>
                    <div class="contenedor-imagen">
                        <div class="imagen-producto-contenedor">
                            <img src="<%= producto.image %> " alt="Imagen Producto" class="imagen-destacada">
                        </div>
                        <div class="descripcion-destacado">
                            <h3><%= producto.name %> </h3>
                            <p>$<%= producto.price %> </p>
                            <a href="/detalle/<%= producto.id %> "><button class="boton" type="submit">Conoce más</button></a>
                        </div>
                    </div>
                <%  }); %> 
            </div>
        </div>
    <% } %>
    <% if (locals.productosNotebooks) { %>
        <div class="div-listado">
            <h1 class="encabezado-listado">Notebooks</h1>
            <div class="tipo-de-producto-listado">
                <% productosNotebooks.forEach(producto => { %>
                    <div class="contenedor-imagen">
                        <div class="imagen-producto-contenedor">
                            <img src="<%= producto.image %> " alt="Imagen Producto" class="imagen-destacada">
                        </div>
                        <div class="descripcion-destacado">
                            <h3><%= producto.name %> </h3>
                            <p>$<%= producto.price %> </p>
                            <a href="/detalle/<%= producto.id %> "><button class="boton" type="submit">Conoce más</button></a>
                        </div>
                    </div>
                <%  }); %> 
            </div>
        </div>
    <% } %>
</main>
    <%- include('./partials/footer.ejs'); %>
</body>
</html>