<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>

</head>
<!--Iconos -->
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">

<!--Tipografia-->
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/register.css">

</head>

<body>
    <main class="contenedor">
        <section class="formulario">
            <div class="formulario-box">
                <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                <h1>¡Crea tu cuenta!</h1>
                <div class="lista-errores-validacion-front">
                    <ul></ul>
                </div>

                <form action="/register" method="POST" id="formRegister" enctype="multipart/form-data">
                    <div class="contenedor-registro">
                        <i class="login-i fas fa-user"></i>
                        <label class="clase" for="nombre">Nombre</label>
                        <input class="sub-formulario" type="text" name="nombre" id="nombre"
                            value="<%= locals.old && old.nombre ? old.nombre : '' %>">
                        <% if (locals.errors && errors.nombre) { %>
                            <p class="mensaje-error">
                                <%= errors.nombre.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div class="contenedor-registro">
                        <i class="login-i fas fa-user"></i>
                        <label class="clase" for="apellido">Apellido</label>
                        <input class="sub-formulario" type="text" name="apellido" id="apellido"
                            value="<%= locals.old && old.apellido ? old.apellido : '' %>">
                        <% if (locals.errors && errors.apellido) { %>
                            <p class="mensaje-error">
                                <%= errors.apellido.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div class="contenedor-registro">
                        <i class="login-i fas fa-user"></i>
                        <label class="clase" for="email">Email</label>
                        <input class="sub-formulario" type="email" name="email" id="email"
                            value="<%= locals.old && old.email ? old.email : '' %>">
                        <% if (locals.errors && errors.email) { %>
                            <p class="mensaje-error">
                                <%= errors.email.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div class="contenedor-registro">
                        <i class="login-i fas fa-lock"></i>
                        <label class="clase">Contraseña</label>
                        <div class="iconoContraseña"><i class="fa-solid fa-circle-exclamation"></i></div>
                        <input class="sub-formulario" type="password" name="password" id="password"
                            value="<%= locals.old && old.password ? old.password : '' %>">
                            <small class="mensaje-advertencia">introduce al menos 8 caracteres</small>
                        <% if (locals.errors && errors.password) { %>
                            <p class="mensaje-error">
                                <%= errors.password.msg %>
                            </p>
                            <% } %>
                    </div>

                    <div class="contenedor-registro">
                        <i class="login-i fas fa-lock"></i>
                        <label class="clase">Confirmar contraseña</label>
                        <input class="sub-formulario" type="password" name="password1" id="password1">
                    </div>

                    <i class="login-i fas fa-lock"></i>
                    <label class="clase">Imagen de perfil:</label>
                    <input class="sub-formulario" type="file" name="imagenUsuario" id="imagenUsuario">

                    <button class="boton" type="submit">Crear tu cuenta</button>
            </div>
            </form>

        </section>

    </main>

    <footer>
        <img class="logo" src="/img/logoayru.png" alt="">
    </footer>

    <!-----  <footer>
<p class="secciones">Productos</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">Soporte</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">Acerca de nosotros</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">Login</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>
<p class="secciones">¡Crea tu cuenta!</p><button class="icono"><i class="fa-solid fa-chevron-down"></i></button>


    </footer>
    -->
    <script src="https://kit.fontawesome.com/6cd48854d2.js" crossorigin="anonymous"></script>
    <script src="/js/front-validation.js"></script>
</body>

</html>